<!--包含头部模版header-->
<include file="Public/header2" />

<div class="row-fluid">
    <div class="dialog">
        <div class="block">
            <p class="block-heading">期待您的诉求</p>
            <div class="block-body">
                <form>
                    <label>Email Address</label>
                    <input type="text" class="span12"></input>
                    <a href="index.html" class="btn btn-primary pull-right">发送</a>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <a href="sign-in.html">登录</a>
    </div>
</div>


    


    <script src="__PUBLIC__/lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
        $("[rel=tooltip]").tooltip();
        $(function() {
            $('.demo-cancel-click').click(function(){return false;});
        });
    </script>
    
  </body>
</html>


