<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>扩展中心 - 360极速浏览器</title>
    <link href="__PUBLIC__/css/ext.css?v=121228" rel="stylesheet">
</head>

<body>
<div class="head-warp">
    <div class="head">
        <h1><a href="http://chrome.360.cn/">360极速浏览器</a></h1>
        <div class="nav-box">
            <ul>
                <li class="cur"><a href="http://chrome.360.cn/">首页</a></li>
                <li><a href="https://ext.chrome.360.cn">分类</a></li>
                <li><a href="http://chrome.360.cn/bbsjump.html" target="_blank">论坛</a></li>
                <li class="last"><a href="<?php echo U('Admin/index/index')?>" target="_blank">提交应用&gt;&gt;</a></li>
            </ul>
            <div class="nav-line" style="left: 118px; width: 52px; "></div>
        </div>
        <div class="space"></div>
    </div>
</div>

<!--[if lt IE 8]>
<script>
    ___lt8 = true;
</script>
<!--div style="height:400px;padding:120px 40px 40px;text-align:left;font-size:14px;width:400px;margin:0 auto;">
    <div>
        您需要在360极速浏览器的极速模式下访问本站才能安装扩展。</div>
    <br /><br />
    <div style="text-align:left;">
        <a href="http://dl.360safe.com/cse/360cse_official.exe" style="color:#1c5ac4;">下载 360极速浏览器</a><br />
    </div>
</div>
<style>
    #bd, .space{display:none}
</style-->
<![endif]-->