<!--包含头部模版header-->
<include file="Public/header" />

<!--包含左侧菜单模版header-->
<include file="Public/left" />

<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>



<div class="content">
        
        <div class="header">
            
            <h1 class="page-title">App管理</h1>
        </div>
        
                <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active">App list</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
            

            <div class="btn-toolbar pull-left" style="margin-left: 20px;margin-top: 16px;">
                <a class="btn btn-primary" href="<?php echo U('App/add')?>"><i class="icon-plus"></i> &nbsp;新增 </a>
                <a class="btn btn-warning"><i class="icon-minus"></i>  &nbsp;删除 </a>
                <a class="btn btn-info"><i class="icon-edit"></i> &nbsp;修改 </a>
              <div class="btn-group">
              </div>
            </div>

              <div class="search-well pull-right" style="margin-right: 100px;margin-top: 6px;">
                  <form class="form-inline" method="post" action="<?php echo U('App/search')?>" id="sear">
                      <input class="input-xlarge" placeholder="输入您想查找的App..." id="search" name="search" type="text">
                      <button class="btn" type="button" onclick="document.getElementById('sear').submit()"><i class="icon-search"></i> 搜索</button>
                  </form>
              </div>

<div class="well">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>应用ID</th>
          <th>分类</th>
          <if condition="$isAdmin">
            <th>开发者</th>
          </if>
          <th>应用名</th>
          <th>内部名</th>
          <th>目前版本</th>
          <th>状态</th>
          <th style="width: 36px;">操作</th>
        </tr>
      </thead>
      <tbody>
      <volist name="list" id="vo">
          <tr>
              <td><input type="checkbox" name="" value=""></input></td>
              <td><a href="<?php echo U('App/detail',array('AppID'=>$vo['AppID']))?>"> {$vo["AppID"]}</a></td>
              <td>{$vo["CategoryID"]}</td>
              <if condition="$isAdmin">
                <td>{$vo["Username"]}</td>
              </if>
              <td>{$vo["AppName"]}</td>
              <td>{$vo["SymbolName"]}</td>
              <td>{$vo["VersionID"]}</td>
              <td>{$vo["AppStatus"]}</td>
              <td>
                  <a href="<?php echo U('App/modify',array('AppID'=>$vo['AppID']))?>"><i class="icon-pencil"></i></a>
                  <a href="#myModal" id="test" role="button" data-toggle="modal" data-AppID="{$vo['AppID']}" onClick="$('#DeleteBtn').data('appid',$(this).data('appid'));"><i class="icon-remove"></i></a>
              </td>
            </tr>
          <script>
              function jump(pn){
                  location.href = "<?php echo U('App/delete')?>?AppID="+pn+"";//location.href实现客户端页面的跳转
              }
          </script>

      </volist>

      </tbody>
    </table>
</div>
                <div class="pagination">
                    <ul style="width: 100%;">
                        　　{$page}
                    </ul>
                </div>

                <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">删除警告</h3>
                    </div>
                    <div class="modal-body">
                        <p class="error-text"><i class="icon-warning-sign modal-icon"></i>您确认要删除该应用</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        <a class="btn btn-danger" id="DeleteBtn" onclick="jump($(this).data('appid'))" data-dismiss="modal">Delete</a>
                    </div>

                </div>


                    
                    <footer>
                        <hr>
                        
                        <p class="pull-right">Collect from <a href="#" target="_blank">AppStore</a></p>


                        <p>&copy; 2016 <a href="#" target="_blank">Xinhao</a></p>
                    </footer>
                    
            </div>
        </div>
    </div>
    


    <script src="__PUBLIC__/lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
        $("[rel=tooltip]").tooltip();
        $(function() {
            $('.demo-cancel-click').click(function(){return false;});
        });
    </script>
    
  </body>
</html>


